src/main/mule/load-sf-accounts-to-db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="load-accounts-sf2db" doc:id="68b3b474-347f-425d-8fb2-dedc0e832bf1" >
		<http:listener doc:name="Listener" doc:id="e4a51696-f87d-47ba-a31f-e1ea4549ba52" config-ref="HTTP_Listener_8082" path="/dbload"/>
		<salesforce:query doc:name="Query Account" doc:id="fc5c7fd0-d291-4ec9-b752-ad3fc6e571a7" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Id, AccountNumber, name, billingstreet, billingcity, billingstate, billingpostalcode, phone
 from Account 
where Id != '']]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="499e7bf9-c9ff-4716-9cf6-700bbb74db93" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert Accounts into DB" doc:id="f01cd2ad-818c-4f7b-b3e8-b71273928c10" config-ref="mysql_localhost" doc:description="-- acme_test.SF_Account definition

CREATE TABLE `SF_Account` (
  `sf_id` varchar(100) NOT NULL,
  `name` varchar(100) DEFAULT NULL,
  `number` varchar(100) DEFAULT NULL,
  `bill_street` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `bill_city` varchar(100) DEFAULT NULL,
  `bill_state` varchar(100) DEFAULT NULL,
  `bill_zip` varchar(100) DEFAULT NULL,
  `phone` varchar(100) DEFAULT NULL,
  `last_updated` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;">
			<db:sql ><![CDATA[Insert into sf_account (sf_id, name, number, bill_street, bill_city, bill_state, bill_zip, phone, last_updated)
Values

(:Id, :Name, :AccountNumber, :BillingStreet, :BillingCity, :BillingState, :BillingPostalCode, :Phone, NOW())
]]></db:sql>
		</db:bulk-insert>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="40462e0d-7f19-4e28-ae80-977bd1909072" type="DB:QUERY_EXECUTION">
				<ee:transform doc:name="Transform Message" doc:id="1d48bce3-2429-4acc-8971-ae36a7d1147d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="630d4de6-ba05-4217-9b32-1368b8251f17" type="SALESFORCE:LIMIT_EXCEEDED">
				<ee:transform doc:name="Transform Message" doc:id="4239e4dc-e4ef-42f7-acdb-1f6c04aa0abb" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-payload value="#[payload]" doc:name="Set Payload" doc:id="b662b043-8bba-4626-b9e9-9613463be72c" />
			</on-error-propagate>
		</error-handler>
	</flow>


</mule>
